<li class="span3">
  <div class="thumbnail" >
    <div class="shot-description">   
      <%= shot.description %>
    </div>
    <div>
        <%= image_tag shot.image.url, style: "height: 210px; width:210; align: center;"%>
    </div>
    <div class="caption">
      <h6>
        <%= shot.user.name %>
        <%= link_to like_path(:id => shot.id), { id: "shot_#{shot.id}", class: "pull-right", :"data-toggle" => "tooltip",  title: "I like this shot!", remote: true } do%>
          <%= content_tag(:i, '', class:"icon-heart" ) %>
          <%= shot.fans.size %>
        <% end %>
      </h6>
    </div>
  </div>
</li>