<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "tiny-dribbble", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li>
                  <%= link_to "Upload a job", {controller: "shots", action: "new"} %>
                </li>
                <li><%= link_to "My Shots", root_path %></li>
                <li><%= link_to "Other Users Shots", shots_path %></li>
              <% else %>
                <li><%= link_to "Users Shots", shots_path %></li>
               <% end %>
              <li><%= link_to "About", about_path %></li>
              <li>
                <% if user_signed_in? %>
                  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                <% else %>
                  <%= link_to "Sign in", new_user_session_path %>
                <% end %>
             </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= flash_messages %>
      <% if user_signed_in? %>
      <div class="row">
        <div class="span3 pull-right">
        Logged in as <strong><%= current_user.email %></strong>.
      </div>
      </div>
      <% end %>
      <%= yield %>
      <footer class="footer">
        <small>
          <a href="http://tinydribbble.herokuapp.com/">tiny-dribbble</a>
          by Juan Pieres
        </small>
        <nav>
          <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "FAQ", faq_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </nav>
      </footer>      
    </div>
  </body>
</html>